/*divs que tem em todos*/
body
{
    margin: 0px;
}
.content
{
    margin-left: 7%;
    margin-bottom: 10%;
    padding-top: 100px;
    width: 75%;
    background-color: rgb(249, 241, 230);
    padding: 5%;
    padding-top: 150px;
    box-shadow: -5px 5px 10px rgb(224, 184, 102);
    margin-top: 100px;
    border-top-right-radius: 30px;

}

.img
{
    transition: transform .2s ;
}

.img :hover
{
    transform: scale(1.25);
}

#menu
{
    padding-top: 15px;
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(65, 46, 33);
    position: fixed;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    z-index: 1;
    top: 0;
    left: 0;
}
#menu a
{
    font-size: 20px;
    color: rgb(255, 243, 230);
} 
#menu a:link {
    color: rgb(255, 243, 230);
    text-decoration: none;
}

#menu a:hover{
    text-decoration: none;
    color:rgb(252, 190, 152);
}

.rodape
{
    background-color: rgb(166, 126, 109);
    padding:50px 50px 25px;
    font-size: 1.25em;
}

.tituloRodape
{
    font-size: 27px;
    color: rgb(255, 243, 230);
    margin: 37px;
    margin-top: 20px;
}

.rodape ul
{
    list-style: none;
    line-height: 1.5em;
}

.rodape a 
{
    color: rgb(251, 212, 178);
    text-decoration: none;
}

.rodape li
{
    color:rgb(251, 212, 178);
}
/*----------------------*/




/*index*/
.tituloRest
{
    font-size: 25px;
    margin-top:-150px;
    line-height: 3em;
    position: relative;
    animation: voaMlk 2.3s;
}

#imagensIndex
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/*----------------------*/






/*formatação*/
.bold
{
    font-weight: bold;
}
.italico
{
    font-style: italic;
}
.under
{
    text-decoration: underline;
}
.highlight
{
    background-color: #ebcb69;
}
/*----------------------*/



/*formatação de texto*/
#textoIndex
{
    width: 100%;
    font-size: 20px;
    line-height: 1.5em; 
}



.textoMenu
{
    font-size: 1.2em;
    line-height: 1.7em;
}

.tituloinicio
{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 80px;
}

#tituloMenu
{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 80px;
    margin-top: -80px;
}
/*----------------------*/



/*listas*/
.content ul
{
    list-style: none;
}
/*----------------------*/


/*menu*/

#contentMenu
{
    padding-left:3%;
}
.prato
{
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}


.secao
{
    margin-bottom: 30px;
    height: auto;
}

.nomeSecao
{
    font-size: 2em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.nomeComida
{
    font-size: 1.5em;
    font-weight:bold;
    margin-bottom: 20px;
    margin-top: 50px;

}

#menuBaixo
{
    position: fixed;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(65, 46, 33);
    color: white;
    height: 40px;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}
#menuBaixo a:link {
    color: white;
    text-decoration: none;
}

#menuBaixo a
{
    font-size: 20px;
    color: rgb(255, 248, 241);
} 

#menuBaixo a:hover{
    text-decoration: none;
    color: rgb(252, 190, 152)
}


/*----------------------*/


/*contato*/
#contentContato
{
    margin: 10% 15% 10%;
    background-color: rgb(255, 249, 240);
    box-shadow: -5px 5px 10px rgb(224, 184, 102);
    padding: 20px;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    align-items: center;
}

#contato
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    flex-direction: row;
    justify-content: space-around;
    border: 2px rgb(251, 221, 179) solid;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 90px;
}


.tituloContato
{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}


a :link
{
    color: rgb(34, 18, 8);
    text-decoration: none;
}
#titulo
{
    font-size: 50px;
    margin-left: 40px;
    margin-top: -50px;
}
#menucomida a :link
{
    margin-left:50px;
    color: rgb(34, 18, 8);
    text-decoration: none;
}
#texto
{
    font-size: 20px;
    width: 70%;
}

form input
{
    border: 1px ;
    background-color: #ebcb69;
}

form input, form textarea, form select
{
    border: none;
    outline:none;
    background-color:rgb(255, 237, 211);
    border-radius: 5px;
}

form input:focus, form textarea:focus, form select:focus
{
    background-color: white;
}

form input:hover, form textarea:hover, input[type="submit"]:hover, form select:hover
{
    background-color: bisque;
}

input [type="text"]:focus
{
    background-color: white;
}

table
{
    background-color: rgb(255, 237, 211);
    border: 1px solid rgb(255, 248, 238);
    
} 

th, td
{
    border: 1px solid rgb(255, 248, 238);
}



@media (min-width: 481px) and (max-width: 767px) 
{
    #contentContato
    {
        margin-left: 14%;
        margin-right: 14%;
    }

    #menuBaixo a
    {
        font-size: 15px;
    }
    
    
    #contentContato
    {
        margin: 0%;
        width: 100%;
        height:100%;
        box-shadow: none;
        
    }

    #contato
    {
        margin-left: 8%;
        margin-right: 8%;
    }

    table
    {
        height: auto;
        width: auto;
        
    }
    .tituloContato
    {
        font-size: 25px;
    }

    .content{
        margin: 0%;
        margin-top: 50px;
        box-shadow: none;
        width: 100%;
    }
    
    img
    {
        height: 250px;
    }

    #tituloMenu
    {
        font-size:60px;
    }

    #menuBaixo a
    {
        font-size: 12px;
    }
}

/*para celular*/
@media (max-width: 480px)
{
    .content {
        margin: 0%;
        width:100%;
        height:100%;
        box-shadow: none;
    }

    body
    {
        background-color: rgb(255, 249, 240);
    }

    #textoIndex
    {
        line-height: 1.8em;
    }
    
    #tituloMenu
    {
        font-size:50px;
    }

    .textoMenu
    {
        text-align: justify;
        font-size: 15px;
    }
    
    #contato
    {
        border: none;
        padding: 0px;
    }

    #contentContato
    {
        margin: 0%;
        width: 100%;
        height:100%;
        box-shadow: none;
        padding: 1%;
    }

    #menu a
    {
        font-size: 15px;
        padding: 20px;
    }

    #menuBaixo a
    {
        font-size: 12px;
    }

    .rodape{
        padding: 17px;
        width: 100%;
    }

    .tituloRodape
    {
        font-size: 25px;
    }

    .rodape ul
    {
        font-size: 0.9em;
        line-height: 1.7em;
    }

   
    .nomeSecao
    {
        font-size: 1.5em;
    }

    img
    {
        height: 7em;
    }
   
}



@media print{
    .content{
        background-color: white;
        margin: 0%;
        padding: 60px;
        padding-top: 120px;
        box-shadow: none;
    }
    img
    {
        display: none;
    }

    #menu
    {
        display:none;
    }

    .rodape
    {
        display:none;
    }

    #contentContato
    {
        background-color: white;
        box-shadow: none;
        margin: 0%;
        padding:50px;
        padding-top: 120px;
    }

    #contato
    {
        border: none;
    }
}


@keyframes voaMlk {
    from {left: -5%;opacity:0%;} 
    to  {left: 0%; opacity: 100%;}
  }